@import url("normalize.css");
@import url("new-css-reset.css");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css");

:root {
  /* Colors */
  --primary: #011627;
  --primary-2: #01080e;
  --primary-3: #011221;
  --primary-4: #1e2d3d;
  --primary-5: #ffffff;

  --secondary: #607b96;
  --secondary-2: #3c9d93;
  --secondary-3: #4d5bce;
  --secondary-4: #81a1c1;
  --secondary-5: #e5e9f0;

  --accent: #fea55f;
  --accent-2: #43d9ad;
  --accent-3: #e99287;
  --accent-4: #c98bdf;

  /* Border */
  --border: 1px solid var(--primary-4);
}

body {
  position: relative;
  color: var(--primary-5);
  font-family: "Fira Code", BlinkMacSystemFont, "Courier New", "Helvetica Neue",
    sans-serif;
  height: 100vh;
}

#root {
  position: relative;
  background-color: #010c15;
  height: 100%;
  padding: 2%;
}

.page {
  position: relative;
  display: flex;
  background-color: var(--primary);
  border: var(--border);
  border-radius: 5px;
  height: 100%;
  flex-direction: column;
}

.main {
  position: relative;
  height: 100%;
  scrollbar-width: none;
  overflow: auto;
}

/* Nav */

.header {
  border-bottom: var(--border);
  color: var(--secondary);
  display: flex;
  min-height: 40px;
  padding: 0 2%;
  font-size: 16px;
}

.bar-title {
  text-align: left;
  padding: 10px 0;
  flex: 20%;
}

.menu {
  display: flex;
  background-color: var(--black);
  flex: 80%;
  justify-content: space-between;
}

.menu .left {
  display: flex;
  flex: 80%;
}

.menu .tab {
  border-left: var(--border);
  border-right: var(--border);
  font-size: 14px;
  padding: 10px 15px;
  text-align: center;
}

.menu .tab.active,
.menu .tab.extra.active {
  color: var(--primary-5);
  border-bottom: 4px solid var(--accent);
}

.menu .tab.extra {
  border-left: var(--border);
  border-right: none;
  padding: 10px 0 10px 10px;
  text-align: right;
}

/* Footer */

.footer {
  position: relative;
  display: flex;
  border-top: var(--border);
  color: var(--secondary);
  min-height: 40px;
  padding: 0 2%;
}

.footer .social {
  display: flex;
}

.footer .date {
  flex: 60%;
}

.footer .credit {
  border-left: var(--border);
}

.footer .social .title,
.footer .social .link,
.footer .date,
.footer .credit {
  font-size: 16px;
  line-height: 1.6rem;
  padding: 5px 8px;
  text-align: center;
}

.footer .social .title {
  border-right: var(--border);
}

.footer .social .link {
  border-right: var(--border);
}

/* Misc  */

.btn {
  background-color: var(--primary-4);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.btn:hover {
  cursor: pointer;
}

.code pre {
  white-space: pre;
}

.code pre::before {
  content: "";
  border-left: var(--border);
  padding-left: 10px;
}

.container {
  position: relative;
  padding: 5%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.ico {
  vertical-align: bottom;
}

.layout {
  position: relative;
  flex: 80%;
  border-right: var(--border);
}

.spacer {
  display: flex;
  border-bottom: var(--border);
  min-height: 40px;
}

.spacer .tab {
  display: flex;
  border-right: var(--border);
  justify-content: space-between;
  height: 100%;
  padding: 10px;
  min-width: 20%;
}

.sidebar {
  display: flex;
  flex: 20%;
  overflow: scroll;
}

.sidebar .links {
  width: 100%;
}

.sidebar .links .nav .navlink {
  display: block;
  border-bottom: var(--border);
  padding: 10px;
  min-height: 40px;
}

.sidebar .tab.links .nav .sub,
.sidebar .links .nav .sub {
  display: none;
  padding: 0 0 0 15%;
  margin: 5px 0;
}

.sidebar .tab.links .nav .sub.active,
.sidebar .links .nav .sub.active {
  display: block;
}

.sidebar .links .nav .navlink.extra {
  border-top: var(--border);
}

.sidebar .links .nav .sub .link {
  margin-bottom: 10px;
}

.sidebar .tab.links .nav .user .ico {
  color: var(--accent);
}

.sidebar .tab.links .nav .edu .ico {
  color: var(--secondary-3);
}

.sidebar .tab.links .nav .cert .ico,
.sidebar .tab.links .nav .deg .ico {
  color: var(--secondary-4);
}

.sidebar .tab.links .nav .code .ico {
  color: var();
}

.sidebar .tab.links .nav .ui-ux .ico {
  color: var();
}

.sidebar .tab.links .nav .cloud .ico {
  color: var();
}

.sidebar .tab.links .nav .skill .ico {
  color: var();
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

/* Pages */

.home,
.about,
.projects,
.contact {
  position: relative;
  display: flex;
  padding: 0 2%;
  height: 100%;
  overflow: hidden;
}

/* Home */

.home {
  flex: 1;
  justify-content: center;
  padding: 0 10%;
}

.home .intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro .top {
  margin-bottom: 50px;
}

.intro .top h1 {
  color: var(--secondary-5);
  font-size: 62px;
  margin: 0.3rem 0;
}

.intro .top h2 {
  color: var(--secondary-3);
  font-size: 32px;
}

.intro .top h3 {
  color: var(--secondary-5);
  font-size: 18px;
}

.intro .bottom {
  margin-top: 100px;
}

.intro .bottom p {
  color: var(--secondary);
}

.intro .bottom .v-type {
  color: var(--secondary-3);
}

.intro .bottom .v-name {
  color: var(--accent-2);
}

.intro .bottom .v-equals {
  color: var(--primary-5);
}

.intro .bottom .v-value {
  color: var(--accent);
}

.intro .project {
  margin: 100px auto;
  width: 100%;
  padding: 100px auto;
}

.game-canvas {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.game-canvas .gradient-1 {
  /* Green */

  position: absolute;
  width: 300px;
  height: 492px;
  left: 20px;
  top: 27px;
  background: #43d9ad;
  opacity: 0.4;
  filter: blur(174px);
  transform: rotate(-94.3deg);
}

.game-canvas .gradient-2 {
  /* Blue */

  position: absolute;
  width: 454px;
  height: 492px;
  right: 0px;
  bottom: 150px;
  background: #4d5bce;
  opacity: 0.4;
  filter: blur(174px);
  transform: rotate(13.51deg);
}

.game-canvas .canvas {
  position: relative;
}

.game-canvas .game {
  position: relative;
  background: linear-gradient(
    150.26deg,
    rgba(23, 85, 83, 0.7) 1.7%,
    rgba(67, 217, 173, 0.091) 81.82%
  );
  border: 1px solid #0c1616;
  box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(64px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;
  height: 500px;
  margin: 0 auto;
  width: 500px;
}

.about .about-pane {
  position: relative;
  display: flex;
  height: 100%;
}

.about .sidebar,
.about .tab-pane,
.about .snippet-pane,
.contact .form-code .inner {
  border-right: var(--border);
}

.about .tab-pane,
.about .snippet-pane {
  position: relative;
  flex: 40%;
  height: 100%;
}

.about .sidebar .tab.icons {
  display: flex;
  flex-direction: row;
  gap: 50px;
  border-right: var(--border);
  flex: 10%;
}

.about .sidebar .tab.icons .nav {
  padding: 0 0 5% 0;
}

.about .sidebar .tab.icons .link {
  font-size: 24px;
  margin: 10px 15px 10px 0;
  color: var(--secondary);
}

.about .sidebar .tab.icons .link.active {
  color: var(--primary-5);
}

.about .sidebar .tab.links {
  flex: 90%;
}

.snippet-pane .title {
  margin-bottom: 50px;
}

.snippet-pane .code-snippet .profile,
.snippet-pane .code-snippet .profile .user {
  display: flex;
}

.snippet-pane .code-snippet .profile {
  justify-content: space-between;
  margin-bottom: 10px;
}

.snippet-pane .code-snippet .profile .user img {
  background-color: var(--secondary);
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.code-snippet .profile .review p {
  display: inline-block;
  margin-left: 5px;
}

.code-snippet .profile .review p .ico {
  vertical-align: bottom;
}

.code-snippet iframe {
  width: 100%;
}

.projects .sidebar,
.contact .sidebar {
  border-left: var(--border);
  border-right: var(--border);
}

.projects .projects-pane .projects-card {
  position: relative;
  overflow: auto;
}

.projects .projects-pane .card .heading {
  display: flex;
  margin-bottom: 15px;
}

.projects .projects-pane .card .body {
  background-color: var(--primary-3);
  border: var(--border);
  border-radius: 10px;
}

.projects .projects-pane .card .body .img {
  position: relative;
}

.projects .projects-pane .card .body .img .type {
  position: absolute;
  background: #86e1f9;
  color: var(--primary-4);
  border-radius: 2px;
  height: 30px;
  width: 30px;
  right: 0%;
  top: 0%;
  padding: 5px;
  margin: 15px;
  text-align: center;
}

.projects .projects-pane .card .body .desc {
  padding: 5%;
  margin-bottom: 20px;
}

.projects .projects-pane .card .body .desc p {
  margin-bottom: 20px;
}

.contact .contact-pane {
  position: relative;
  height: 100%;
}

.contact .contact-pane .wrapper .form-code {
  position: relative;
  display: flex;
  height: 100%;
}

.contact .contact-pane .wrapper .form-code > * {
  flex: 1;
}

.form-code .form .form-group > * {
  display: block;
}

.form .form-group,
.form .form-group label {
  margin-bottom: 10px;
}

.form .form-group input,
.form .form-group textarea {
  background-color: var(--primary-3);
  border: var(--border);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.form .form-group input:focus,
.form .form-group textarea:focus {
  border: 1px solid #607b96;
  box-shadow: 0px 0px 0px 2px rgba(96, 123, 150, 0.3);
  border-radius: 8px;
}

@media (min-width: 576px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
}
